@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

img{
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

.main-game {
    width: 100%;
    height: 100%;

    margin:auto;
    vertical-align: center;
    
} 

.game-play {

  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -325px;
    margin-left: -480px;

    width: 980px;
    height: 650px;
    border: 10px solid green;

}

